body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-price {
    color: #e67e22;
    font-size: 1.1em;
    margin: 5px 0;
}

.product-description {
    font-size: 0.9em;
    color: #555;
    margin: 10px 0;
}

.product-rating {
    font-size: 0.9em;
    color: #888;
}

.category{
    color: #888;
}
.button-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.btn {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.filter-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.filter-button:hover {
    background-color: blue;
}
